In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [2]:
testdata=pd.read_csv("/Users/MacAir/Documents/DataScience/Datasets/home-data-for-ml-course/test.csv")
traindata=pd.read_csv("/Users/MacAir/Documents/DataScience/Datasets/home-data-for-ml-course/train.csv")

In [3]:
traindata.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
y=traindata.SalePrice
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X_test=testdata[features]
X_main=traindata[features]
X_train, X_valid, y_train, y_valid=train_test_split(X_main,y,train_size=0.8,test_size=0.2,random_state=0)

In [5]:
X_train.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
618,11694,2007,1828,0,2,3,9
870,6600,1962,894,0,1,2,5
92,13360,1921,964,0,1,2,5
817,13265,2002,1689,0,2,3,7
302,13704,2001,1541,0,2,3,6

In [6]:
model_1 = RandomForestRegressor(n_estimators=50, random_state=0)
model_2 = RandomForestRegressor(n_estimators=100, random_state=0)
model_3 = RandomForestRegressor(n_estimators=100, criterion='absolute_error', random_state=0)
model_4 = RandomForestRegressor(n_estimators=200, min_samples_split=20, random_state=0)
model_5 = RandomForestRegressor(n_estimators=100, max_depth=7, random_state=0)

models=[model_1,model_2,model_3,model_4,model_5]

In [7]:
def tester(model):
    model.fit(X_train,y_train)
    prediction=model.predict(X_valid)
    mae=mean_absolute_error(y_valid, prediction)
    #print (mae,type(mae))
    return mae

for i in range(0,len(models)):
    mo=float(tester(models[i]))
    print(mo)

24015.492818003917
23740.979228636657
23528.78421232877
23996.676789668687
23706.672864217904

In [8]:
best_model=model_3
best_model.fit(X_main,y)
final_predictions=best_model.predict(X_test)

In [9]:
output=pd.DataFrame({"Id":X_test.index,"SalePrice": final_predictions})
output.to_csv('submission_house_kaggle.csv', index=False)